.project {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 6px;
  box-sizing: border-box;
  border: 2px solid var(--app-light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 30px 15px 15px 15px;
  text-decoration: none;
  color: var(--text-color);
}

.project:hover {
  transform: translateY(-5px);
}

.project > .logo {
  width: 55px;
  height: 55px;
  /* border-radius: 50%; */
  /* background: var(--app-light-grey); */
}

.project > p {
  margin: 0;
}

.project > .name {
  font-weight: 600;
  margin-top: 15px;
}

.project > .descr {
  margin-top: 5px;
  font-size: 12px;
  height: 43px;
}

@media (max-width: 460px) {
  .project {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto 15px auto;
  }
}
