.timeline {
  position: relative;
  height: calc(100vh - 170px);
}

.timeline::after,
.timeline::before {
  content: '';
  position: absolute;
  width: 95%;
  left: 2%;
  height: 50px;
  z-index: 1;
  pointer-events: none;
  transition: box-shadow 0.2s ease;
}

.timeline::after {
  top: 60px;
  box-shadow: inset 0 35px 35px -10px var(--app-background);
}

.timeline::before {
  bottom: 0;
  box-shadow: inset 0 -35px 35px -10px var(--app-background);
}

.timeline > .content {
  position: absolute;
  width: 100%;
  top: 60px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 50px;
}

.timeline scrollbar-cmp {
  top: 100px;
  display: block;
}

.timeline .line {
  position: absolute;
  left: 50%;
  border-right: 5px dashed var(--text-color);
  top: 75px;
  height: 2220px;
}

.timeline .year {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: var(--text-color);
  left: 50%;
  border-radius: 50%;
  margin-left: -7px;
  color: var(--app-grey);
  margin-top: 50px; /* tmp */
}

.timeline .year::after {
  content: attr(data-year);
  position: absolute;
  font-size: 22px;
  left: 38px;
  font-weight: 600;
  margin-top: -4px;
  white-space: nowrap;
}

.timeline event-cmp {
  width: 40%;
  display: block;
  margin-left: 5%;
  margin-top: 50px; /* tmp */
}

.timeline event-cmp:nth-of-type(2n + 1) > .event > .wrapper {
  flex-direction: row-reverse;
  text-align: right;
}

.timeline event-cmp:nth-of-type(2n) {
  margin-left: 55%;
}

@media (max-width: 800px) {
  .timeline {
    height: auto;
  }

  .timeline > .content {
    position: relative;
    top: 0;
  }

  .timeline .line,
  .timeline .year,
  .timeline scrollbar-cmp,
  .timeline event-cmp > .event::after {
    display: none;
  }

  .timeline event-cmp {
    width: 100%;
    margin-left: 0 !important;
  }

  .timeline event-cmp > .event > .wrapper {
    flex-direction: row !important;
    text-align: left !important;
    align-items: flex-start;
  }

  .timeline event-cmp > .event .description {
    position: relative;
    max-height: unset;
    height: auto;
    white-space: normal;
    overflow: auto;
  }

  .timeline event-cmp > .event:hover > .wrapper,
  .timeline event-cmp > .event:focus > .wrapper {
    transform: none;
  }
}
