.scrollbar {
  position: absolute;
  background-color: var(--app-background);
  width: 20px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: background-color 0.2s ease;
}

.scrollbar.hide {
  display: none;
}

.scrollbar > .wrapper {
  position: absolute;
}

.scroller {
  position: absolute;
  background-color: var(--app-grey);
  width: 7px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease;
  margin-left: 6px;
}

.scroller:hover,
.scrollbar.active .scroller {
  opacity: 1;
}
