<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>georgi.ws</title>
    <link href="<%= sourcePath %>/index<%= cssHash%>.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Georgi Serev / Front-end developer / Personal website" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,800|Karla" rel="stylesheet">
    <link rel="icon" type="image/png" href="<%= sourcePath %>/favicon.png" />
    <noscript>
      <meta http-equiv="refresh" content="0; URL=<%= sourcePath %>/noscript.html"/>
    </noscript>
  </head>
  <body></body>
</html>
