<!DOCTYPE html>
<html>
  <head>
    <title>georgi.ws</title>
    <link href="<%= SOURCE_PATH %>/index.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,800|Karla" rel="stylesheet">
    <link rel="icon" type="image/png" href="<%= SOURCE_PATH %>/favicon.png" />
    <noscript>
      <meta http-equiv="refresh" content="0; URL=<%= SOURCE_PATH %>/noscript.html"/>
    </noscript>
  </head>
  <body></body>
</html>
