.interactive-logo {
  width: 175px;
  font-size: 19px;
}

.interactive-logo .initial {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: var(--app-background);
  font-size: 19px;
  box-sizing: border-box;
  animation: fade-in 1s ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.interactive-logo .initial.g {
  background-color: var(--app-red);
}

.interactive-logo .initial.h {
  border: 2px solid var(--text-color);
  color: var(--text-color);
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
