.interactive-logo {
  width: 175px;
  font-size: 19px;
}

.interactive-logo .initial {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fafafa;
  font-size: 19px;
  box-sizing: border-box;
  animation: fade-in 1s ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.interactive-logo .initial.g {
  background-color: #ea5242;
}

.interactive-logo .initial.h {
  border: 2px solid #343434;
  color: #343434;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
