.technology {
  width: 90px;
  height: 90px;
  transition: transform 0.2s ease;
  text-align: center;
}

.technology > .logo {
  /* background: var(--app-light-grey); */
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 0 auto;
}

.technology > .tooltip {
  font-size: 14px;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.technology:hover {
  transform: translateY(-10px);
}

.technology:hover > .tooltip {
  opacity: 1;
  transform: translateX(0);
}
