@use '../../../styles/fx' as fx;

@property --rotation {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

:host {
  position: relative;
  display: block;

  h1,
  .type-h1 {
    text-align: center;
    font-weight: 600;
    font-size: 8rem;
    margin: 0;
    letter-spacing: 0.1rem;
  }

  .text {
    @include fx.metallic-gradient(#5a6673, var(--rotation));
    animation: rotate-text-gradient 7s infinite linear;

    position: relative;
    background-clip: text;
    color: transparent;
    z-index: 1;
  }

  .reflections {
    position: absolute;
    color: black;
    width: 100%;
    top: 0;
    left: 0;

    span {
      @include fx.edge-reflection(#999, false);
      background-size: 100% 74%;
      background-position-y: 72%;
      background-clip: text;
      -webkit-text-stroke: 3px transparent;
    }
  }
}

@keyframes rotate-text-gradient {
  from {
    --rotation: 0deg;
  }
  to {
    --rotation: 360deg;
  }
}
