@use './fx' as fx;

.gs-button {
  font-size: 0.875rem;
  padding: 0.325rem 0.75rem;
  font-family: 'DM Sans';
  font-weight: 500;
  border: none;
  cursor: pointer;
  @include fx.metallic-with-hover-fx(
    var(--frost-grey),
    var(--frost-grey-light)
  );

  &.selected {
    @include fx.metallic-with-hover-fx(
      var(--azure-blue),
      var(--azure-blue-light)
    );
  }
}
