@use './fx' as fx;

button {
  font-size: 0.875rem;
  padding: 0.325rem 0.75rem;
  font-family: 'DM Sans';
  font-weight: 500;
  border: none;
  cursor: pointer;
  @include fx.metallic-fx-gradient-hover(#5a6673, #79899c);

  &.selected {
    @include fx.metallic-fx-gradient-hover(#0062d2, #006fed);
  }
}
