:root {
  --color-bg: #000;
  --color-text: #fff;

  --grey-01: #202020;
  --grey-02: #333;
  --grey-03: #444;
  --grey-04: #555;
  --grey-05: #666;
  --grey-06: #777;
  --grey-07: #888;
  --grey-08: #999;

  --frost-grey: #5a6673;
  --frost-grey-light: #5a6673;
  --azure-blue: #0062d2;
  --azure-blue-light: #006fed;
}
