@use 'sass:map';

@mixin metallic-gradient($color, $rotation: 180deg, $light-intensity: 1) {
  $intensities: (
    1: (
      cl-white: 80%,
      bs-white: 20%,
      cl-black: 80%,
      bs-black: 20%,
    ),
    2: (
      cl-white: 70%,
      bs-white: 30%,
      cl-black: 90%,
      bs-black: 10%,
    ),
  );

  $li-vals: map.get($intensities, $light-intensity);

  background: $color; // Fallback
  background: linear-gradient(
    $rotation,
    color-mix(
      in srgb,
      $color map.get($li-vals, cl-white),
      white map.get($li-vals, bs-white)
    ),
    color-mix(
      in srgb,
      $color map.get($li-vals, cl-black),
      black map.get($li-vals, bs-black)
    )
  );
}

@mixin edge-reflection-fx($color, $light-intensity: 1) {
  $light: color-mix(in srgb, $color, white);
  $dark: color-mix(in srgb, $color, black);

  $intensities: (
    1: (
      v1: 0,
      v2: 33.3%,
      v3: 66.6%,
      v4: 100%,
    ),
    2: (
      v1: 0,
      v2: 40%,
      v3: 60%,
      v4: 100%,
    ),
  );

  $li-vals: map.get($intensities, $light-intensity);

  background: $color; // Fallback
  background: linear-gradient(
    var(--refl-angle, 325deg),
    $light map.get($li-vals, v1),
    $dark map.get($li-vals, v2),
    $dark map.get($li-vals, v3),
    $light map.get($li-vals, v4)
  );
}

@mixin metallic-fx($color, $border-radius: 2rem) {
  position: relative;
  border-radius: $border-radius;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 $color;
  color: white;
  @include metallic-gradient($color);

  span {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    z-index: -1;
    border-radius: inherit;
    @include edge-reflection-fx($color);
  }
}

@mixin metallic-with-hover-fx($main-color, $hover-color, $border-radius: 2rem) {
  @include metallic-fx($main-color, $border-radius);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms ease;
    @include metallic-gradient($hover-color);
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover::after {
    @include edge-reflection-fx($hover-color);
  }
}
