<header>
  <nav gsReflectiveSurface>
    <div class="nav-items">
      <button gsReflectiveSurface class="selected">Home</button>
      <button gsReflectiveSurface>Projects</button>
      <button gsReflectiveSurface>Articles</button>
      <button gsReflectiveSurface>GitHub</button>
      <button gsReflectiveSurface>About</button>
    </div>
  </nav>
</header>
<main>
  <h1>Georgi Serev</h1>
  <section>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
      venenatis nulla, at ultricies orci. Maecenas pharetra massa at nibh
      feugiat semper. Vivamus sed diam id lectus facilisis lacinia vitae a
      velit. Morbi ac finibus libero, quis tincidunt nulla. Duis posuere nibh et
      ultrices facilisis. Pellentesque id augue blandit, ullamcorper magna ut,
      convallis nisi. Vestibulum gravida ullamcorper lacus sed porttitor.
    </p>

    <p>
      Cras ut odio in sapien feugiat rhoncus. Fusce ac risus turpis. Vestibulum
      maximus augue non nulla consequat pellentesque. Integer nec elit velit.
      Aliquam porta imperdiet diam facilisis molestie. Praesent ullamcorper
      pharetra mi, a sollicitudin magna ultrices eu. Duis pellentesque lectus
      sit amet ante bibendum, in mollis ligula accumsan. Sed vitae tincidunt ex,
      ac convallis tellus. Donec luctus congue orci.
    </p>

    <p>
      Proin egestas urna ante, eget volutpat ipsum scelerisque in. Nam in
      consequat libero. Morbi tincidunt volutpat turpis vitae cursus. Proin ac
      mauris nec libero vehicula cursus. Donec varius eu enim quis egestas. Nunc
      vel est vestibulum, tincidunt enim at, elementum felis. Nullam non
      pellentesque nulla. Nulla id auctor ante, non porta quam.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
      venenatis nulla, at ultricies orci. Maecenas pharetra massa at nibh
      feugiat semper. Vivamus sed diam id lectus facilisis lacinia vitae a
      velit. Morbi ac finibus libero, quis tincidunt nulla. Duis posuere nibh et
      ultrices facilisis. Pellentesque id augue blandit, ullamcorper magna ut,
      convallis nisi. Vestibulum gravida ullamcorper lacus sed porttitor.
    </p>

    <p>
      Cras ut odio in sapien feugiat rhoncus. Fusce ac risus turpis. Vestibulum
      maximus augue non nulla consequat pellentesque. Integer nec elit velit.
      Aliquam porta imperdiet diam facilisis molestie. Praesent ullamcorper
      pharetra mi, a sollicitudin magna ultrices eu. Duis pellentesque lectus
      sit amet ante bibendum, in mollis ligula accumsan. Sed vitae tincidunt ex,
      ac convallis tellus. Donec luctus congue orci.
    </p>

    <p>
      Proin egestas urna ante, eget volutpat ipsum scelerisque in. Nam in
      consequat libero. Morbi tincidunt volutpat turpis vitae cursus. Proin ac
      mauris nec libero vehicula cursus. Donec varius eu enim quis egestas. Nunc
      vel est vestibulum, tincidunt enim at, elementum felis. Nullam non
      pellentesque nulla. Nulla id auctor ante, non porta quam.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
      venenatis nulla, at ultricies orci. Maecenas pharetra massa at nibh
      feugiat semper. Vivamus sed diam id lectus facilisis lacinia vitae a
      velit. Morbi ac finibus libero, quis tincidunt nulla. Duis posuere nibh et
      ultrices facilisis. Pellentesque id augue blandit, ullamcorper magna ut,
      convallis nisi. Vestibulum gravida ullamcorper lacus sed porttitor.
    </p>

    <p>
      Cras ut odio in sapien feugiat rhoncus. Fusce ac risus turpis. Vestibulum
      maximus augue non nulla consequat pellentesque. Integer nec elit velit.
      Aliquam porta imperdiet diam facilisis molestie. Praesent ullamcorper
      pharetra mi, a sollicitudin magna ultrices eu. Duis pellentesque lectus
      sit amet ante bibendum, in mollis ligula accumsan. Sed vitae tincidunt ex,
      ac convallis tellus. Donec luctus congue orci.
    </p>

    <p>
      Proin egestas urna ante, eget volutpat ipsum scelerisque in. Nam in
      consequat libero. Morbi tincidunt volutpat turpis vitae cursus. Proin ac
      mauris nec libero vehicula cursus. Donec varius eu enim quis egestas. Nunc
      vel est vestibulum, tincidunt enim at, elementum felis. Nullam non
      pellentesque nulla. Nulla id auctor ante, non porta quam.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
      venenatis nulla, at ultricies orci. Maecenas pharetra massa at nibh
      feugiat semper. Vivamus sed diam id lectus facilisis lacinia vitae a
      velit. Morbi ac finibus libero, quis tincidunt nulla. Duis posuere nibh et
      ultrices facilisis. Pellentesque id augue blandit, ullamcorper magna ut,
      convallis nisi. Vestibulum gravida ullamcorper lacus sed porttitor.
    </p>

    <p>
      Cras ut odio in sapien feugiat rhoncus. Fusce ac risus turpis. Vestibulum
      maximus augue non nulla consequat pellentesque. Integer nec elit velit.
      Aliquam porta imperdiet diam facilisis molestie. Praesent ullamcorper
      pharetra mi, a sollicitudin magna ultrices eu. Duis pellentesque lectus
      sit amet ante bibendum, in mollis ligula accumsan. Sed vitae tincidunt ex,
      ac convallis tellus. Donec luctus congue orci.
    </p>

    <p>
      Proin egestas urna ante, eget volutpat ipsum scelerisque in. Nam in
      consequat libero. Morbi tincidunt volutpat turpis vitae cursus. Proin ac
      mauris nec libero vehicula cursus. Donec varius eu enim quis egestas. Nunc
      vel est vestibulum, tincidunt enim at, elementum felis. Nullam non
      pellentesque nulla. Nulla id auctor ante, non porta quam.
    </p>
  </section>
</main>
