@use '../styles/fx' as fx;

:host {
  display: block;

  header {
    display: flex;
    align-items: center;
    justify-content: center;

    nav {
      margin-top: 2rem;
      border-radius: 3rem;
      padding: 1px;
      @include fx.edge-reflection(#333);

      .nav-items {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: inherit;
        border-radius: 3rem;
        padding: 0.375rem;
        gap: 1rem;
        background-color: #202020;
        z-index: 1;
      }
    }
  }
}
