@use '../styles/fx' as fx;

:host {
  display: block;

  header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.75rem 0;
    z-index: 99999999;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 12.25rem;
      background: linear-gradient(
        var(--color-bg) 0,
        var(--color-bg) 33%,
        transparent 100%
      );
      z-index: -1;
      pointer-events: none;
      mask: linear-gradient(black, black, transparent);
      backdrop-filter: blur(4px);
    }

    nav {
      border-radius: 3rem;
      padding: 1px;
      @include fx.edge-reflection-fx(var(--grey-02));

      .nav-items {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: inherit;
        border-radius: 3rem;
        padding: 0.375rem;
        gap: 1rem;
        background-color: var(--grey-01);
        z-index: 1;
      }
    }
  }

  gs-reflective-text {
    margin-top: 10rem;
  }

  section {
    font-size: 1.25rem;
    font-weight: 300;
    width: 600px;
    margin: 3rem auto;
  }
}
