.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: 40px 0 10px 0;
}

.markdown p.br {
  margin: 3px;
}

.markdown ul {
  padding-left: 40px;
  margin: 20px 0;
}

.markdown ul > li {
  margin-bottom: 7px;
}
