a {
  position: relative;
  display: inline-block;
  color: var(--link-color);
  text-decoration: none;
  outline: none;
}

a::after {
  content: '';
  position: absolute;
  border-bottom: 3px dotted var(--link-color);
  width: 0;
  transition: width 0.2s ease;
  left: 0;
  bottom: 0;
  margin-bottom: -2px;
}

a:hover::after,
a:focus::after {
  width: 100%;
}

svg-loader {
  width: 25px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}
