.event > .wrapper {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.event::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid var(--text-color);
  background-color: var(--app-background);
  left: 50%;
  margin-top: -45px;
  margin-left: -10px;
  transition: border-color 0.5s ease;
}

.event:hover > .wrapper {
  transform: scale(1.1);
}

.event:hover::after {
  border-color: var(--app-red);
}

.event p {
  margin: 0;
}

.event .icon {
  background-color: var(--app-light-grey);
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin: 0 15px;
}

.event .title {
  color: var(--text-color);
  font-weight: 600;
  font-size: 18px;
}

.event .time {
  font-size: 12px;
}

.event .description {
  color: var(--app-grey);
  font-size: 12px;
}
