@font-face {
  font-family: 'HKGrotesk';
  src: url('assets/fonts/HKGrotesk-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('assets/fonts/HKGrotesk-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}
