:root {
  /* --app-background: #f6f6f6; */
  --app-background: #fafafa;
  --text-color: #343434;
  --link-color: #3687cc;
  --app-red: #ea5242;
  --app-grey: #8f8f8f;
  --app-light-grey: #f1f1f1;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'HKGrotesk', sans-serif;
  user-select: none;
  font-size: 18px;
  word-spacing: 0.13em;
  background-color: var(--app-background);
  color: var(--text-color);
  transition: background-color 0.2s ease;
}

#root {
  max-width: 850px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  position: relative;
  display: inline-block;
  color: var(--link-color);
  text-decoration: none;
  outline: none;
}

a::after {
  content: '';
  position: absolute;
  border-bottom: 3px dotted var(--link-color);
  width: 0;
  transition: width 0.2s ease;
  left: 0;
  bottom: 0;
  margin-bottom: -2px;
}

a:hover::after,
a:focus::after {
  width: 100%;
}
