body {
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  font-size: 18px;
  word-spacing: 0.13em;
  /* background: #f6f6f6; */
  background: #fafafa;
  color: #343434;
}

#root {
  width: 850px;
  margin: 0 auto;
}

code, pre {
  font-family: 'Fira Mono', monospace;
}

a {
  position: relative;
  display: inline-block;
  color: #3687cc;
  text-decoration: none;
}

a::after {
  content: '';
  position: absolute;
  border-bottom: 3px dotted #3687cc;
  width: 0;
  transition: width 0.2s ease;
  left: 0;
  bottom: 0;
  margin-bottom: -2px;
}

a:hover::after {
  width: 100%;
}
