body {
  /* font-family: 'Barlow Semi Condensed', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

code, pre {
  font-family: 'Fira Mono', monospace;
}

#root {
  width: 800px;
  margin: 0 auto;
}
