/* You can add global styles to this file, and also import other style files */

@use './styles/buttons';

body {
  font-family: 'DM Sans';
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  background-color: black;
  color: white;
}
