.switch {
  position: relative;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid var(--text-color);
  cursor: pointer;
}

.switch::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  left: 3px;
  top: 3px;
  background: var(--text-color);
  transition: 0.2s ease;
}

.switch.on {
  background: var(--text-color);
}

.switch.on::after {
  left: 20px;
  background: var(--app-background);
}
