.content {
  min-height: calc(100% - 1px);
  margin-bottom: -75px;
  padding-top: 1px;
}

.push, footer {
  height: 75px;
}

header {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  font-weight: 600;
}

interactive-logo {
  display: block;
}

.content.home interactive-logo {
  position: absolute;
  transform: translateX(-50%) scale(3);
  top: 200px;
  left: 51%;
}

.content.home nav {
  position: absolute;
  top: 305px;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
}

nav > app-link:first-child {
  margin-left: 0;
}

app-link, a {
  position: relative;
  cursor: pointer;
  font-size: 19px;
  display: inline-block;
  margin-left: 15px;
  color: inherit;
  text-decoration: none;
}

app-link::after,
a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  margin-bottom: -3px;
  transition: 0.2s width ease, 0.3s background-color ease;
}

app-link:hover::after,
app-link.selected::after,
a:hover::after {
  width: 100%;
}

app-link.selected::after {
  background-color: var(--app-grey);
}

app-link:hover::after,
a:hover::after {
  background-color: var(--app-red);
}

footer {
  font-size: 12px;
  box-sizing: border-box;
  padding-top: 20px;
  color: var(--app-grey);
  text-align: center;
}

@media (max-width: 680px) {
  header {
    display: block;
  }

  interactive-logo {
    margin-bottom: 20px;
  }

  app-link, a {
    margin: 0 15px 15px 0;
  }

  .content.home interactive-logo {
    top: 150px;
    transform: translateX(-50%) scale(1.5);
  }

  .content.home nav {
    top: 230px;
  }

  .content.home app-link,
  .content.home a {
    display: block;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
  }
}
